
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beer List</h2>
<div class="container" ng-app="app" ng-controller="beerCtrl">
@*@if (Model == null)
{
    <div>
        <h3> No Result Found</h3>
    </div>
}
else
{*@
    <input type="hidden" ng-model="Beers" />
    <div ng-hide="Beers" >
        <h3> No Result Found</h3>
    </div>
        <div ng-show="Beers">
            <table class="table">
                <caption></caption>
                <thead>

                <th>Name</th>
                <th>Color</th>
                <th>Tasted</th>


                </thead>
                <tbody>
                    @*@foreach (var beer in Model)
                    {
                        <tr>
                            <td>@beer.Name</td>
                            <td>@beer.Color</td>
                            <td>
                                <div class="form-inline">
                                    <input id="ckhHasTasted" type="checkbox" class="checkbox" @(beer.HasTasted == true ? "checked='checked'" : string.Empty) /> Has Tasted
                                </div>
                            </td>
                        </tr>
                    }*@

                    <tr ng-repeat="beer in Beers">
                        <td>{{beer.Name}}</td>
                        <td>{{beer.Color}}</td>
                        <td>
                            <div class="form-inline">
                                <input id="ckhHasTasted" type="checkbox" class="checkbox" ng-model="beer.HasTasted"/> Has Tasted
                            </div>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr ng-if="states.beerForm == true">
                        <td >
                            <input type="text" class="form-control" placeholder="Name" ng-model="new.Beer.Name" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Color" ng-model="new.Beer.Color" />
                        </td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="new.Beer.HasTasted" /> Has Tasted
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="insertBeer()">Add</button>
                            <button type="button" class="btn btn-primary" ng-click="showBeerForm(false)">Cancel</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    <div class="container">
        <button type="button" class="btn btn-primary" ng-click="showBeerForm(true)">Add New</button>
    </div>
@*}*@
    
</div>

@*@Scripts.Render("~/bundles/beermodule")*@
@Scripts.Render("~/bundles/angularapp")